* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #252323;
  line-height: 1.6;
}
header {
  background-color: #29282b70;
  padding: 10px 20px;
}
nav ul {
  display: flex;
  justify-content:end;
  align-items:end;
  list-style-type: none;
}
nav i{
  color:#fff;
  font-size:1.4vw;
  margin-left:1vw ;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size:1.2vw;
}
nav ul li a:hover {
  color: #bbff47bd;
}
.product-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
}

.product-image img {
  width: 75%;
  height: auto;
  object-fit: cover;
}

.product-details {
  max-width: 400px;
}

.product-details h1 {
  font-size:2.4vw;
  margin-bottom:10px;
}

.product-description {
  margin: 20px 0;
}

.product-price {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom:0.5vw;
  color: #ff6347;
}

.add-to-cart {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding:0.9vw 1.3vw;
  font-size:1.5vw;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #e55347;
}
.reviews {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}

.reviews h2 {
  font-size:2.2vw;
  margin-bottom: 15px;
}

.review {
  margin-bottom: 20px;
}

.write-review {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size:1.3vw;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.write-review:hover {
  background-color: #e55347;
}
.related-products {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
}
.related-products h2{
  font-size:2.1vw;
}
.product-card {
  text-align: center;
}
.product-card img {
  max-width: 200px;
  height: auto;
}
.product-card p {
  margin: 10px 0;
}
.product-card p:last-child {
  font-weight: bold;
  color: #ff6347;
}
footer {
  background-color: #29282b70;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
@media (max-width:700px) {
  nav i{
    color:#fff;
    font-size:4vw;
    margin-left:1vw ;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size:3.2vw;
  }
  nav ul li a:hover {
    color: #bbff47bd;
  }
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-image img {
    max-width: 80%;
  }
  .product-details h1 {
    font-size:5.3vw;
    margin-bottom:10px;
  }
  .product-details {
    font-size:3vw;
    text-align: center;
    max-width: none;
  }
  .product-price {
    font-size: 4.6vw;
    font-weight: bold;
    margin-bottom:0.5vw;
    color: #ff6347;
  }
  
  .add-to-cart {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding:2.5vw 2vw;
    font-size:4vw;
    cursor: pointer;
  }
  
.reviews h2 {
  font-size:5.4vw;
  margin-bottom: 15px;
}
.review p{
  font-size:3.6vw;
}
.write-review {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding:2.5vw 2vw;
  font-size:4vw;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}
  .related-products {
    flex-direction: column;
    align-items: center;
  }
.related-products h2{
  font-size:5vw;
}
  .product-card {
    margin-bottom:1vw;
  }
  footer p{
    font-size: 4.3vw;
  }
}